html	{
	color:black;
	font-family: "Myriad Pro", Helvetica, Serif;
}
body {
    text-align:center;
}
article	{
	text-align:center;
}
h1, h2	{
	background:white;
	border-style: dashed;
	color:red;	
	font-family: "Minion Pro", Georgia, Sans-Serif;
	font-size:32px;
	margin:5px;
	padding:8px;
	text-align:center;
}
p	{
	margin:35px; 
}
h5	{
	color:black;
	font-size:14px;
	text-align:center;
}
ul	{
	background-color:black;
	list-style-type:none; /*Remove Bullets */
	margin:0;
	padding:0;
}
li	{
	display:inline-block;
}
li a	{
	background-color:black;
	color:white;
	display:block;
	padding:14px 16px;
	text-decoration:none;
}
li a:hover	{
	background-color:red;
}
a	{
	color:red;
	text-decoration:underline;
}
img	{
	margin:12px;
}
 table, th, td	{
 	border: 1px solid black;	
 	border-collapse:collapse; 
 	border-width:2px;
	margin:10px; 20px; 20px;
	padding: 8px;
	text-align:left;
 }
 .active	{
 	background-color:red;
 }
.mailLink	{
	display:inline;
	background:white;
	border:none;
}
.dummyLink	{
	background-color:white;
	border:none;
	color:blue;
	text-decoration: underline;
}
a:hover{
	
}
tr:hover {
	background-color: #f5f5f5;
	}
