h1{
	color:red;
	text-align:center;
}
h2{ 
	color:red;
	text-align:center;
}
h5{
	color:black;
	text-align:center;
}
body {
    background-color:white;
    text-align:center;
}
img {
	vertical-align:text-top;
}
